@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-section-gray: #b9b9b9;
  --color-navbar: #d9d9d9;
  --color-underline: #1e61b9;
  --shadow-md: 0 0 6px 0 rgb(0 0 0 / 0.1);
  --shadow-xl: 0 0 15px 3px rgb(0 0 0 / 0.1);
}

* {
  @apply scroll-smooth;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Freeman';
  font-size: 16;
  font-weight: 400;
}

.skip-link {
  @apply absolute z-[150] m-0 h-[1px] w-[1px] overflow-hidden border-none p-0;
}

.skip-link:focus-visible {
  @apply border-underline top-0 left-0 h-auto w-auto border-2 p-2;
}

/*------------------------------------------------------------------------------------------------------*/

#sidebar {
  border-radius: 0 5px 5px 0;
}

/*------------------------------------------------------------------------------------------------------*/

.gigs-grid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
  @apply sm:gap-[1rem] md:gap-[2rem];
}

.gig-wrapper {
  @apply mb-[-3rem] sm:mb-0;
}

.gig-details {
  @apply flex items-center justify-center rounded-xl border border-black px-3;
}

.rotation {
  writing-mode: sideways-lr;
}

.music-grid,
.clothing-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

/*------------------------------------------------------------------------------------------------------*/

.grid-image {
  @apply h-full w-full object-cover;
}

.image-grid {
  grid-template-areas:
    'image-2 image-2 image-2 image-2 image-3 image-3 image-3'
    'image-2 image-2 image-2 image-2 image-3 image-3 image-3'
    'image-4 image-4 image-4 image-4 image-3 image-3 image-3'
    'image-4 image-4 image-4 image-4 image-3 image-3 image-3'
    'image-5 image-5 image-5 image-10 image-10 image-10 image-10'
    'image-5 image-5 image-5 image-10 image-10 image-10 image-10'
    'image-6 image-6 image-6 image-6 image-7 image-7 image-7'
    'image-6 image-6 image-6 image-6 image-7 image-7 image-7'
    'image-6 image-6 image-6 image-6 image-7 image-7 image-7'
    'image-8 image-8 image-8 image-11 image-11 image-11 image-11'
    'image-8 image-8 image-8 image-11 image-11 image-11 image-11'
    'image-8 image-8 image-8 image-9 image-9 image-9 image-9'
    'image-8 image-8 image-8 image-9 image-9 image-9 image-9';
}

#image-2 {
  grid-area: image-2;
}

#image-3 {
  grid-area: image-3;
}

#image-4 {
  grid-area: image-4;
}

#image-5 {
  grid-area: image-5;
}

#image-6 {
  grid-area: image-6;
}

#image-7 {
  grid-area: image-7;
}

#image-8 {
  grid-area: image-8;
}

#image-9 {
  grid-area: image-9;
}

#image-10 {
  grid-area: image-10;
}

#image-11 {
  grid-area: image-11;
}

.img-nav-btn {
  @apply text-underline absolute top-1/2 -translate-y-1/2 transform rounded-full bg-white/50 p-2 hover:cursor-pointer;
}

/*------------------------------------------------------------------------------------------------------*/

form input,
form textarea {
  @apply rounded-md border border-white/80 bg-white/5 p-2 outline-none;
}

form input:focus-visible {
  @apply outline;
}

#name,
#town,
#street {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.error {
  @apply border-2 border-white;
}

.error-message {
  @apply mt-1 text-sm;
}

/*------------------------------------------------------------------------------------------------------*/

.footer-details {
  @apply w-[11rem] text-center sm:text-start;
}

.footer-details h4 {
  @apply mb-5 text-sm md:text-base;
}

.footer-details address,
.footer-details div {
  @apply text-xs md:text-sm;
}

.socials-wrapper > * {
  @apply px-[0.85rem];
}

/*------------------------------------------------------------------------------------------------------*/

.copyright-wrapper h2,
.disclaimer-wrapper h2 {
  @apply mb-2 text-lg font-semibold;
}

.copyright-wrapper a,
.disclaimer-wrapper a,
.legal-link {
  @apply text-underline underline;
}

.copyright-wrapper a:visited,
.disclaimer-wrapper a:visited,
.legal-link:visited {
  @apply text-red-500;
}

@media (max-width: 767px) and (orientation: landscape) {
  #hero-image-mobile {
    display: none;
  }
  #hero-image-desktop {
    display: block;
  }
  #sidebar {
    display: none;
  }
  #next-section {
    height: 2.5rem;
    width: 2.5rem;
  }
}
