@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-section-gray: #b9b9b9;
  --color-navbar: #d9d9d9;
  --color-underline: #1e61b9;
  --shadow-md: 0 0 6px 0 rgb(0 0 0 / 0.1);
  --shadow-xl: 0 0 15px 3px rgb(0 0 0 / 0.1);
}

* {
  @apply scroll-smooth;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Freeman';
  font-size: 16;
  font-weight: 400;
}

.skip-link {
  @apply absolute z-[150] m-0 h-[1px] w-[1px] overflow-hidden border-none p-0;
}

.skip-link:focus-visible {
  @apply border-underline top-0 left-0 h-auto w-auto border-2 p-2;
}

#sidebar {
  border-radius: 0 5px 5px 0;
}

.gigs {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.gig-details {
  @apply flex items-center justify-center rounded-xl border border-black px-3;
}

.rotation {
  writing-mode: sideways-lr;
}

.music-grid,
.clothing-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.img-nav-btn {
  @apply text-underline absolute top-1/2 -translate-y-1/2 transform rounded-full bg-white/50 p-2 hover:cursor-pointer;
}

.footer-details {
  @apply w-[11rem] text-center sm:text-start;
}

.footer-details h4 {
  @apply mb-5 text-sm md:text-base;
}

.footer-details address,
.footer-details div {
  @apply text-xs md:text-sm;
}
