@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import 'tailwindcss';

@theme {
  --color-section-gray: #b9b9b9;
  --color-navbar: #d9d9d9;
  --color-underline: #1e61b9;
  --shadow-md: 0 0 6px 0 rgb(0 0 0 / 0.1);
  --shadow-xl: 0 0 15px 3px rgb(0 0 0 / 0.1);
}

* {
  @apply scroll-smooth;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Freeman';
  font-size: 16;
  font-weight: 400;
}

#sidebar {
  border-radius: 0 5px 5px 0;
}

.gigs {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.gig-details {
  @apply flex items-center justify-center rounded-xl border border-black px-3;
}

.rotation {
  writing-mode: sideways-lr;
}
